#closebutton{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#closebutton:hover{
	-fx-cursor:hand;
}

.apply{
	-fx-background-color: transparent;
	-fx-background-color: #707070;
	-fx-background-radius: 0;
}

.apply{
	-fx-cursor:hand;
}