#closebutton{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#closebutton:hover{
	-fx-cursor:hand;
	-fx-text-fill: red;
}

.apply{
	-fx-background-color: transparent;
	-fx-background-color: #707070;
	-fx-background-radius: 0.0;
}

.apply{
	-fx-cursor:hand;
}

.textfield{
	-fx-background-radius: 0.0;
}

.registerloginbutton{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.registerloginbutton:hover{
	-fx-cursor: hand;
}

#applybutton{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#applybutton:hover{
	-fx-cursor: hand;
}

.optionsbutton{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-color: white;
	 -fx-border-radius: 10 10 10 0;
}

.optionsbutton:hover{
	-fx-cursor: hand;
}

#optionkeys{
	-fx-background-color: white;
	-fx-alignment: center;
}

.keybuttons{
	-fx-background-color: transparent;
	-fx-text-fill: black;
}

.keybuttons:hover{
	-fx-cursor: hand;
}

.confirmationbuttons{
	-fx-background-color: white;
	-fx-padding: 0 10 0 10;
}

.confirmationbuttons:hover{
	-fx-cursor: hand;
}

.informationbutton{
	-fx-background-color: white;
}